/*Google Fonts*/
 body {
 	font-family: 'Open sans', sans-serif;
 }

 /*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*All HTML ekeents have default value for thier margin and padding properties, Givubg them the valkue of zero is easire fir us to manipulte the size and positioning of the elemts*/

nav {
	/*shorthand property:  applies padding on all sides*/
	padding: 0.8rem;
	/*creates space b/w the nav and the intro section*/
	/*the margin-bottom property only changes the space at the botton of the element. this is good for instances where single space is needed to be change*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector Combinator: 
Type_selector Class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;	
}

.header {
	text-align: center;
}
/*even though we have access to padding or margin props when centering horizontally, the "text-aligh" property is stilll better to use. Manipulating the padding and margin might affect non-text HTML tag to be added in the future, which would return unexpected results*/


/**/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*the selector used is a descendant selector. even though there is only 1 button present in the page. this is appropriate as it helps in code readibility telling the devs that button is location the intro section.*/
/*The font-weight props changes the thickness of the text*/
/*The padding props is used here bcoz we want to make the button larger by creating space from the text content tho the borders of the button*/


#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

}

#succeed-info h2 {
	margin-bottom: 1rem;

}

#succeed-info .card {
	display: inline-block;
	/*command where the letter will align. It allow the element to align at the top when inline*/
	vertical-align: top;
	/*alliows for card to have equal height that adjust with the content*/
	min-height: 175px;
	/*we use 30% not 33.3 to avoid overflow in browswer and hori scrolling*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*inline block allow the card to appear beside each other*/


footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}

/*Activity*/

/*#pre-footer .c1 {
	background-color: #002540;
	display: inline-block;
	vertical-align:  bottom;
	min-height: 150px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	color: white;
}*/

#pre-footer {

	height: 13rem;
	background-color: #002540;
	color: white;
}

#pre-footer .c1 {
	text-align: left;
	display: inline-block;
	vertical-align: bottom;
	min-height: 175px;
	width: 20%;
	margin-top: 1rem;

}
